.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
#body {
      background-color: #375556;
}

#backlog-card {
  margin: auto;
  margin-right:75px;
}

#profile-card {
  margin: auto;
  margin-left:75px;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
  background: url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500"); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#searchbar {
  padding: 6px;
  font-size: 17px;
  margin: 0 auto;
  display: block;
  /* margin:auto; */
}

.album-info {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.ui.cards {
  padding:50px;
}